html,body{
  height: 100%;
}
body{
  display: flex;
}
.layout-side{
  width: 260px;
  height: 100%;
  background: #001529;
  flex-shrink: 0;/* 让其不会被挤压，维持原样  */
}
.layout-main{
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #f0f2f5;
}
.layout-header{
  background: #fff;
  color: #000000;
  height: 64px;
  line-height: 64px
}
.layout-body{
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden
}
.layout-side a{
  height: 50px;
  line-height: 50px;
  border-bottom: #000000 1px solid;
  color: #fff;
  display: block;
  text-align: center

}

.zc-table{
  width: 100%;
  text-align: center 
}
.zc-table th , .zc-table td,.zc-table{
  border: 1px solid #000000;
}
.zc-table .banner-img{
  width: 100px 
}