html,body{
  height: 100%;
}
body{
  display: flex;
}
/* 侧边栏 */
.layout-side{
  width: 260px;
  height: 100%;
  background: #001529;
  flex-shrink: 0;/* 让其不会被挤压，维持原样  */
}
.layout-side a{
  height: 50px;
  line-height: 50px;
  border-bottom: #000000 1px solid;
  color: #fff;
  display: block;
  text-align: center
}

/* 主题内容区  */
.layout-main{
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #f0f2f5;
}
/* 主题内容头部 */
.layout-header{
  background: #393D49;
  color: #000000;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.header-left{
  display: block;
  cursor: pointer;
  padding: 22px 24px;
  font-size: 20px;
}
.header-left:hover{
  background: #cccccc
}
.self-ico{
  color: #fff;
}

/* 内容展示区 */
.layout-body{
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden
}
